<style>
    .container-xl{
        margin-top: 10%;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
        color: #000;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

</style>
<body>
    
      {{> sidebars}}

       {{> navbar}}
</body>
<div class="container-xl">
    {{#each questions}}
        {{#if @first}}
            <h2>Subject : {{this.select_subject}}</h2><br><br>
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Option 1</th>
                        <th>Option 2</th>
                        <th>Option 3</th>
                        <th>Option 4</th>
                        <th>Correct Answer</th>
                    </tr>
                </thead>
                <tbody>
        {{/if}}
                    <tr>
                        <td>{{#if this.image}}
							<img src="/images/{{this.image}}" alt="Question Image" style="max-width: 50px; max-height: 50px;">
							{{else}}
							{{this.ques}}
							{{/if}}</td>
                        <td>{{this.option1}}</td>
                        <td>{{this.option2}}</td>
                        <td>{{this.option3}}</td>
                        <td>{{this.option4}}</td>
                        <td>{{this.ans}}</td>
                        <td>
                            <a href="/update_Question/{{this.ques}}" class="fa fa-edit"
                            style="font-size:25px;color:rgb(80, 85, 87);"
                            onclick="return confirm('Are you sure to update this record ?');"></a>
                        </td>
                    </tr>
        {{#if @last}}
                </tbody>
            </table>
        {{/if}}
    {{/each}}
</div>
